{{ repo.display_name }}
============

{#################################################}
{################# DESCRIPTION ###################}
{#################################################}
{% if repo.description is defined %}
{{ repo.description }}
{% endif %}
{% set markdown_file_path_prefix = host_path + '/docs/partials/readme.' %}
{#################################################}
{#################### ABOUT ######################}
{#################################################}
{% if repo.readme.section.about is defined %}
{################# about.before ##################}
{% set markdown_file_path =  markdown_file_path_prefix + 'about.before.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.about.before is defined %}
{{ repo.readme.section.about.before }} 
{% else %}
{% endif %}
{################# about.content #################}
{% set markdown_file_path =  markdown_file_path_prefix + 'about.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.about.content is defined %}

## {{ repo.readme.section.about.title }} 

{{ repo.readme.section.about.content }} 
{% else %}
{% endif %}
{################# about.after ###################}
{% set markdown_file_path =  markdown_file_path_prefix + 'about.after.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.about.after is defined %}
{{ repo.readme.section.about.after }} 
{% else %}
{% endif %}
{% endif %}
{#################################################}
{################# INSTALLATION ##################}
{#################################################}
## Getting started

{############## installation.before ##############}
{% set markdown_file_path =  markdown_file_path_prefix + 'installation.before.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.installation.before is defined %}
{{ repo.readme.section.installation.before }} 
{% else %}
{% endif %}
{#################################################}
### {{ repo.readme.section.installation.title }} 

1. Clone the repository:

   ```bash
   git clone git@github.com:{{ repo.github_repo_owner }}/{{ repo.name }}.git

2. Navigate to the repository:

   ```bash
   cd {{ repo.name }}
   ```

{###############installation.after ###############}
{% set markdown_file_path =  markdown_file_path_prefix + 'installation.after.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.installation.after is defined %}
{{ repo.readme.section.installation.after }} 
{% else %}
{% endif %}
{#################################################}
{################ CONFIGURATION ##################}
{#################################################}
{% if repo.readme.section.configuration is defined %}
{############# configuration.before ##############}
{% set markdown_file_path =  markdown_file_path_prefix + 'configuration.before.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.configuration.before is defined %}
{{ repo.readme.section.configuration.before }} 
{% else %}
{% endif %}
{############# configuration.content #############}
{% set markdown_file_path =  markdown_file_path_prefix + 'configuration.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}

{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.configuration.content is defined %}

## {{ repo.readme.section.configuration.title }} 

{{ repo.readme.section.configuration.content }} 
{% else %}
{% endif %}
{############## configuration.after ##############}
{% set markdown_file_path =  markdown_file_path_prefix + 'configuration.after.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.configuration.after is defined %}
{{ repo.readme.section.configuration.after }} 
{% else %}
{% endif %}
{% endif %}
{#################################################}
{#################### USAGE ######################}
{#################################################}
{% if repo.readme.section.usage is defined %}
{################# usage.before ##################}
{% set markdown_file_path =  markdown_file_path_prefix + 'usage.before.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.usage.before is defined %}
{{ repo.readme.section.usage.before }} 
{% else %}
{% endif %}
{################# usage.content #################}
{% set markdown_file_path =  markdown_file_path_prefix + 'usage.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}

{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.usage.content is defined %}

## {{ repo.readme.section.usage.title }} 

{{ repo.readme.section.usage.content }} 
{% else %}
{% endif %}
{################## usage.after ##################}
{% set markdown_file_path =  markdown_file_path_prefix + 'usage.after.md' %}
{% if markdown_file_path in doc_files_array | map(attribute='path') %}
{{ lookup('file', markdown_file_path) }}
{% elif repo.readme.section.usage.after is defined %}
{{ repo.readme.section.usage.after }} 
{% else %}
{% endif %}
{% endif %}
{#################################################}
{###################  ROADMAP ####################}
{#################################################}
{% if repo.readme.section.todo is defined %}

## Roadmap

{% for todo in repo.readme.section.todo %}
- [{% if todo.state=="closed" %}x{% else %} {% endif %}] {{ todo.text }}
{% endfor %}
{% endif %}

## Contributing

Community contributions are appreciated. Report bugs, suggest improvements, or submit code changes by forking the repository and creating a pull request.

## License

Distributed under the MIT License. See [LICENSE](LICENSE.txt) for more information.

## Contact

- {{ repo.contact.name }} (project owner) - <{{ repo.contact.email }}>